menu "iotThermostat configuration"

config TIPO_DISPOSITIVO
	int "Tipo de dispositivo"
	default 0
	help
		indica el tipo de dispositivo


config IMPLEMENTS_LEDS
	bool "identify GPIOS to leds"
	default n
	help 
		Configure GPIOS to implements LEDS

config GPIO_PIN_LED
	int "PIN GPIO LED INDICATOR"
	default 0
	depends on IMPLEMENTS_LEDS
	help 
		GPIO to implement LED indicator
	
config GPIO_PIN_LED_LCD
	default 0
	int "PIN GPIO LED INDICATOR_LCD"
	depends on IMPLEMENTS_LEDS
	help 
		GPIO to implement LED indicator
	
config GPIO_PIN_BOTON
	int "Pin gipo para activar el boton"
	default 0
	help 
		Indica el pin gpio con el que se activa el boton


menu "Tipo de touch"

    choice "TOUCH_TYPE"
        prompt "Seleccion del tipo de touch para la pantalla"
        help
	        Selecciona el tipo de touch a usar
	        
        config GT911
	        bool "GT911"
	        prompt "GT911"
		        help
			        GT911
        config XPT2046
	        bool "XPT2046"
	        prompt "XPT2046"
	        help
		        XPT2046
		        
    endchoice

endmenu



menu "Tipo de sensor a utilizar"

choice TEMPERATURE_SENSOR
    prompt "Seleccion del tipo de sensor de temperatura"
    help
        Selecciona el tipo de sensor

    config DHT22
        bool "DHT22"
        prompt "DTH22"
        help
            DTH22

    config DS18B20
        bool "DS18B20"
        prompt "DS18B20"
        help
            DS18B20
endchoice
endmenu


config GPIO_PIN_DHT
    int "PIN SENSOR DHT"
    default 0
    depends on DHT22
    help 
        Implement pin gpio to sensor dht22 or dht11

config GPIO_PIN_DS18B20
    int "PIN SENSOR DS18B20"
    default 0
    depends on DS18B20
    help 
        Implement pin gpio to sensor DS18B20



config RGB_PANEL
	bool "Indicate if use rgb panel"
	default n
	help 
		include code for implement rgb panel into proyect


config LCD_H_RES
	int "Horizontal resolution rgb panel"
	depends on RGB_PANEL
	default 800
	help
		Indicate the horizontal resolution of rgb panel
		
config LCD_V_RES
	int "Vertical resolution rgb panel"
	depends on RGB_PANEL
	default 480
	help
		Indicate the vertical resolution of rgb panel		

    config DOUBLE_FB
        bool "Use double Frame Buffer"
        depends on RGB_PANEL
        default "n"
        help
            Enable this option, driver will allocate two frame buffers.

    config USE_BOUNCE_BUFFER
    	depends on RGB_PANEL
        depends on !DOUBLE_FB
        bool "Use bounce buffer"
        help
            Enable bounce buffer mode can achieve higher PCLK frequency at the cost of higher CPU consumption.

    config AVOID_TEAR_EFFECT_WITH_SEM
    	depends on RGB_PANEL
        depends on !DOUBLE_FB
        bool "Avoid tearing effect"
        default "y"
        help
            Enable this option, the example will use a pair of semaphores to avoid the tearing effect.
            Note, if the Double Frame Buffer is used, then we can also avoid the tearing effect without the lock.
endmenu
